body {
    font-family: Helvetica, Arial, sans-serif;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-size: 36px;
    color: #757575;
    text-align:left;
    margin-bottom:15px;
}

h2 {
    color: #397249;
}

h2 {
    color: #487339;
}

h2 {
    color: #284245;
}

p {
    margin-top:0;
    margin-bottom:7px;
}

blockquote {
    text-align: center
}

hr {
    color: #A5A6A6;
}
